{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="{% url 'site_home' %}">Cookielog</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="{% url 'list_ingredients' %}">Ingredients<span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'list_items' %}">Items</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
           </div><!-- /.container-fluid -->
        </nav>
    <div class="container-fluid">        
        <div class="row">
            <div class="col-md-4">
                <h3></h3>
            </div>
        </div>
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"/>
</body>
</html>
