{% extends 'base.html' %}

{% block page_title %}
Ingredients List
{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
<div class="row">
    <div class="col-md-3">
        <h3>List of Ingredients</h3>
    </div>
    <div class="col-md-2">
        <a id="new-button" class="btn btn-primary btn-sm" href="{% url 'new_ingredient' %}"><span class="glyphicon glyphicon-plus"></span> Create New</a>
    </div>
</div>
<ol>
    {% for ingredient in ingredients %}
        <li>{{ ingredient.name }}</li>
    {% endfor %}
</ol>
{% endblock %}
